* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }  
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
.jwks-header-main {
    height: 5.5rem;
    background-color: rgb(255, 255, 255);
    display: flex;
}
.jwks-header-logo {
    width: 33.33%;
    height: 5.5rem;
    display: flex;
    justify-content: center; 
    align-items: center;     
    
}

.jwks-header-left {
    width: 33.33%;
    height: 5.5rem
}
.jwks-header-right {
    width: 33.33%;
    padding-top: 33.5px;
    height: 5.5rem;
    ul {
        display: flex;
        padding-left: 300px;
        gap: 30px;
        justify-content: center;
    }
    img {
        height: 1.3rem;
    }
}
.jwks-navbar {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    height: 3rem;
    background-color: #D9D9D9;
    li {
        width: 14rem;
        height: 3rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 40%;
        font-size: 110%;
        
    }
    ul {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    li:hover {
        border-bottom: 3px solid black;
    }
    a {
        display: flex; 
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;   
    }
}
.jwks-footer-top {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 40px 120px;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    height: 24rem;
    
    }
.jwks-footer-top_container{
    display: flex;
}
.jwks-footer-top_content{
    padding-right: 32px;

}
.jwks-footer-top_title{
    padding-bottom: 18px;
    font-size: 11px;
    font-weight: 10px;
}
.jwks-footer-top_details{
    li {
        margin-bottom: 10px;
    }
    a {
        text-decoration: underline;
    }
}
.jwks-footer-bottom {
    height: 11rem;
    justify-content: center; 
    align-items: center;
    display: flex;
    padding-top: 35px;
}
.jwks-footer-logo {
    height: 4.5rem;
    display: flex;
    justify-content: center; 
    align-items: center;     
    
}


.login-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    padding: 30px;
}
.login-header{
    text-align: center;
    margin: 20px 0 40px 0;
}
.login-header header{
    color: #333;
    font-size: 30px;
    font-weight: 600;
}
.input-box .input-field{
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0, 0.05);
    outline: none;
    transition: .3s;
}
.input-field:focus{
    width: 105%;
}
.forgot{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
section{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
}
#check{
    margin-right: 10px;
}
.login-wrapper a:hover{
    text-decoration: underline;
}
section a{
    color: #555;
}
.input-submit{
    position: relative;
}
.submit-btn{
    width: 100%;
    height: 60px;
    background: #222;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}
.input-submit label{
    position: absolute;
    top: 45%;
    left: 50%;
    color: #fff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.submit-btn:hover{
    background: #000;
    transform: scale(1.05,1);
}
.sign-up-link{
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}
.sign-up-link a{
    color: #000;
    font-weight: 600;
}
.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px; /* Chiều cao bằng 100% viewport */
    background-color: #f5f5f5; /* Tùy chọn: màu nền cho đẹp */
}
